h1 {
    color: rgb(161, 4, 4);
    background: rgb(218, 216, 216);
}
ul {
    background: #009ec3;
    background: radial-gradient(circle closest-corner at 40px 30px, #fff, #009ec3);
}
p {
    color: purple;
    font-weight: bold;
    background: rgb(243, 243, 127);
}
q {
    color: green;
    font-weight: bold;
    font-style: italic;
}